#{extends 'empty.html' /}
#{set title:'Crear Usuario' /}


<div class="form-group">
	<form id="newUser" action="/Admin/newUser" onsubmit="return validarPass()"method="post">
		<div class="form-group">
			<label>Nombre: </label>
			<input type="text" placeholder="Nombre" name="nombre" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Apellido: </label>
			<input type="text" placeholder="Apellido" name="apellido" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Campus: </label>
			<select class="form-control" name="campus">
				#{list campuses, as: 'campus'}
				<option value="${campus.id}">${campus.nombre}</option>
				#{/list}
			</select>
		</div>
		<div class="form-group">
			<label>Nivel: </label>
			<select name="nivel" class="form-control">
				#{list niveles, as:'nivel'}
				<option value="${nivel.numero}">${nivel.nombre}</option>
				#{/list}
			</select>        
		</div>  
		<div class="form-group">
			<label>Contraseña: </label>
			<input type="password" placeholder="password" name="password" class="form-control" required>
		</div>  
		<div class="form-group">
			<label>Valida la contraseña: </label>
			<input type="password" placeholder="repite contraseña" name="password2" class="form-control" required>
		</div>      
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Crear Usuario">
		</div>          
	</form>
</div>

<script>
function validarPass() {
    var x = document.forms["newUser"]["password"].value;
    var y = document.forms["newUser"]["password2"].value;
    if (x != y) {
        alert("Las contraseñas no coinciden");
        return false;
    }
}
</script>