@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.gloriaHalleluja{
	font-family: 'Gloria Hallelujah', cursive;
}

.syneMono{
	font-family: 'Syne Mono', monospace;
}

.oswald{
	font-family: 'Oswald', sans-serif;
}