#{extends 'user.html' /}
#{set title:'Peticiones completadas' /}

<div class="table-responsive"> 
<table id="tableUsuarios" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Campus</th>
                <th>Contacto</th>
                <th>Asignado a</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            #{list peticiones, as:'e'}
                <tr>
                    <td>${e.nombre}</td>
                    <td>${e.fecha}</td>
                    <td>${e.campus.nombre}</td>
                    <td>
                    #{if e.contacto}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    #{/if}
                    #{else}
                        <i class="fa fa-times" aria-hidden="true"></i>
                    #{/else}
                    </td>
                    <td>${e.assignee.nombre} ${e.assignee.apellido}</td>
                    <td><a class="btn btn-success" href="/User/detalleRegistro?id=${e.id}">Ver Detalle</a></td>
                </tr>
            #{/list}
        </tbody>

        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Campus</th>
                <th>Contacto</th>
                <th>Asignado a</th>
                <th></th> 
            </tr>
        </tfoot>
    </table>
</div>
<script>
    $(document).ready(function()
    {
         $('#tableUsuarios').DataTable();       
    });
</script>