#{extends 'adminglobal.html' /}
#{set title:'Eliminar Registro' /}

<center>
<div class="jumbotron">
  <h2>Desea completar el registro con ID ${registro.id} con fecha del dia ${registro.fecha} </h2>      
</div>

<div class="container">

  <a class="btn btn-lg btn-danger" onClick="completarRegistro()" href="#">Completar registro</a>
  <a class="btn btn-lg btn-success" href="/AdminGlobal/detalleRegistro?id=${registro.id}">Volver a detalles del registro</a> 
  
</div>
</center>
<script>
	function completarRegistro()
	{
		$.get('/User/eliminarRegistro?id=${registro.id}',function(response)
			{
				alert("Se completado el registro "+response.id);
			});

		window.location ="/User/registrosDePeticionesAsignadas";
	}

</script>