#{extends 'adminglobal.html' /}
#{set title:'Detalle de Registro' /}
 <div class="col-md-12">
<!-- Modal para asignar registro --> 	
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Asignar registro</button>

<!-- Modal asingar-->
<div class="col-md-12">
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Elegir asignado</h4>
      </div>
      <div class="modal-body">
        <select class="form-control" name="assignee" id="assignee">
				#{list usuarios, as: 'u'}
				<option value="${u.id}">${u.nombre} ${u.apellido}</option>
				#{/list}
			</select>
      </div>
      <div class="modal-footer">
      	<button onClick="asignarRegistro()" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" ></span> Asignar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal asignar-->


<!-- Modal comentario-->
<div id="commentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Elegir asignado</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
			<label>Comentario: </label>
			<textarea class="form-control" rows="5" name="comentario" id="comentario" maxlength="1000"></textarea>
		</div>
      </div>
      <div class="modal-footer">
      	<button onClick="enviarComentario()" class="btn btn-default" data-dismiss="modal"><i class="fa fa-comment" aria-hidden="true"></i> Comentar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal comentario-->


 <!--   Basic Table  -->
<div class="panel panel-default">
    <div class="panel-body">
		<div class="table-responsive"> 
			<table id="tablaUsuario" class="table" cellspacing="0" width="100%">
				<thead>
					<th>Datos:</th>
					<th></th>
				</thead>
				<tbody>
					<tr class="info">
						<td>Asignado por:</td>
						 <td>${registro.admin.nombre} ${registro.admin.apellido}</td>
						
					</tr>
					<tr class="info">
						<td>Asignado a:</td>
						<td>${registro.assignee.nombre} ${registro.assignee.apellido}</td>
					</tr>
					<tr class="warning">
						<td>Fecha:</td>
						<td >${registro.fecha}</td>
					</tr>
					<tr class="warning">
						<td>Hora:</td>
						<td >${registro.hora}</td>
					</tr>
					<tr class="info">
						<td>Nombre:</td>
						<td >${registro.nombre}</td>
					</tr>
					<tr class="info">
						<td>Campus:</td>
						<td>${registro.campus.nombre}</td>
					</tr>
					<tr>
						<td>Mensaje:</td>
						<td>${registro.mensaje}</td>
					</tr>
					<tr #{if registro.contacto}
		                        class="success"
		                    #{/if}
		                    #{else}
		                        class="danger"
		                    #{/else}>
						<td>Contacto:</td>
						<td>
							#{if registro.contacto}
		                        <i class="fa fa-check" aria-hidden="true"></i>
		                    #{/if}
		                    #{else}
		                        <i class="fa fa-times" aria-hidden="true"></i>
		                    #{/else}
		                </td>
					</tr>
					<tr #{if registro.contacto}
		                        class="success"
		                    #{/if}
		                    #{else}
		                        class="danger"
		                    #{/else}>
						<td>Telefono:</td>
						<td>${registro.telefono}</td>
					</tr>
					<tr #{if registro.contacto}
		                        class="success"
		                    #{/if}
		                    #{else}
		                        class="danger"
		                    #{/else}>
						<td>Horario:</td>
						<td>${registro.horario}</td>
					</tr>					
				</tbody>
			</table>
		<div>
	</div>	
</div>	
 <div class="col-sm-12">
 				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal"><i class="fa fa-comment" aria-hidden="true"></i> Agregar comentario</button>
        #{if registro.admin.nombre != "Peticion no asignada" && registro.activo == true}
		        <a href="/AdminGlobal/removeRegister?id=${registro.id}" class="btn btn-danger"><i class="fa fa-check-square-o" aria-hidden="true"></i> Completar seguimiento</a>
		        <a href="/AdminGlobal/registrosDePeticionesAsignadas" class="btn btn-success"> Volver a registros</a>
		#{/if}
		#{else}
	        <a href="/AdminGlobal/registrosDePeticiones" class="btn btn-success"> Volver a registros</a>
	    #{/else}        
        
    </div>
    </div>
</div>



<h2>Historial de seguimiento</h2>

<div class="panel panel-default">
    <div class="panel-body">
		<div class="table-responsive"> 
			<table id="tablaUsuario" class="table" cellspacing="0" width="100%">
				<thead>
					<th>Comentado por:</th>
					<th>Fecha:</th>
					<th>Hora:</th>
					<th>Comentario:</th>
				</thead>
				<tbody>

					#{list comentarios, as:'comentario'}
					<tr>
						<td>${comentario.creador.nombre} ${comentario.creador.apellido}</td>
	                    <td>${comentario.fecha}</td>
	                    <td>${comentario.hora}</td>
	                    <td>${comentario.mensaje}</td>
					</tr>
				#{/list}
				</tbody>
			</table>
		<div>
	</div>	
</div>	
<script>
	function asignarRegistro()
	{
		var assignee= $('#assignee').val();

			var link = '/AdminGlobal/asignarRegistro?assignee='+assignee+'&id=${registro.id}';
			$.get(link,function(){
				alert("Modificado exitosamente");
			});
			location.reload();

	}

	function enviarComentario()
	{
		var comentario= $('#comentario').val();

			var link = '/AdminGlobal/guardarComentario?comentario='+comentario+'&registroId=${registro.id}';
			$.get(link,function(){
				alert("Enviado exitosamente");
			});
			location.reload();

	}
</script>