#{extends 'adminglobal.html' /}
#{set title:'Usuarios' /}

<div class="table-responsive"> 
<table id="tableUsuarios" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Campus</th>
                <th>Nivel</th>
        		<th></th>
            </tr>
        </thead>

        <tbody>
        	#{list usuarios, as:'e'}
				<tr>
					<td>${e.username}</td>
					<td>${e.nombre}</td>
                    <td>${e.apellido}</td>
                    <td>${e.campus.nombre}</td>
                    <th>${e.nivel.nombre}</th>
                    <td><a class="btn btn-primary" href="/AdminGlobal/editarUsuario?id=${e.id}">Editar usuario</a></td>
				</tr>
			#{/list}
        </tbody>

        <tfoot>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Campus</th>
                <th>Nivel</th>
        		<th></th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
	$(document).ready(function()
	{
		 $('#tableUsuarios').DataTable();		
	});
</script>