#{extends 'adminglobal.html' /}
#{set title:'Registros' /}

<div class="table-responsive"> 
<table id="tableRegistros" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Nota</th>
                <th>Cantidad</th>
                <th>Asignado a</th>
        		<th>Asignado por</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        	#{list registros, as:'e'}
				<tr>
					<td>${e.id}</td>
					<td>${e.fecha}</td>
					<td>${e.hora}</td>
                    <td>${e.log}</td>
                    <td>${e.cantidad}</td>
                    <td>${e.hero.nombre} ${e.hero.apellido}</td>
                    <td>${e.admin.nombre} ${e.admin.apellido}</td>
                    <td><a class="btn btn-danger" href="/Application/detalleRegistro?id=${e.id}">Detalle</a></td>
				</tr>
			#{/list}
        </tbody>

        <tfoot>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Nota</th>
                <th>Cantidad</th>
                <th>Asignado a</th>
                <th>Asignado por</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<script>
	$(document).ready(function()
	{
		 $('#tableRegistros').DataTable();		
	});
</script>