#{extends 'adminglobal.html' /}
#{set title:'Eliminar Usuario' /}

<center>
<div class="jumbotron">
  <h2>Desea eliminar al usuario ${user.nivel.nombre} ${user.nombre} ${user.apellido} con usuario:<br><strong>${user.username}</strong></h2>      
</div>

<div class="container">

  <a class="btn btn-lg btn-danger" onClick="eliminarUsuario()" href="#">Eliminar usuario</a>
  <a class="btn btn-lg btn-success" href="/Application/editarUsuario?id=${user.id}">Volver a editar usuario</a> 
  
</div>
</center>
<script>
	function eliminarUsuario()
	{
		$.get('/Application/eliminarUsuario?id=${user.id}',function(response)
			{
				alert("Se eliminado el usuario "+response.nombre+" "+response.apellido);
			});

		window.location ="/Application/index";
	}

</script>