#{extends 'app.html' /}
#{set title:'Tu petición ha sido recibida' /}

<p>
De haber dejado tu informacion, alguien se pondra en contacto contigo muy pronto
</p>
<a class="btn btn-default btn-lg" href="https://vinonuevo.com/">Volver</a>