#{extends 'app.html' /}
#{set title:'DEJA TU PETICIÓN' /}

<p>¡Gracias por contactarnos!
Como familia Vino Nuevo creemos en el poder de nuestro Dios y en la oración
</p>
<div class="form-group">
	<form  action="/Application/crearPeticion" method="post">
		<div class="form-group">
			<label>¿Cómo podemos ayudarte?</label>
			<textarea class="form-control" rows="5" name="mensaje" id="mensaje" maxlength="1000"></textarea>
		</div>
		<div class="form-group">
			<label>Nombre: </label>
			<input type="text" placeholder="Si deseas permanecer anonimo no llenes este campo" name="nombre" class="form-control">
		</div>
		<div class="form-group">
			<label>Campus: </label>
			<select class="form-control" name="campus">
				#{list campuses, as: 'campus'}
				<option value="${campus.id}">${campus.nombre}</option>
				#{/list}
			</select>
		</div>
		<label>¿Te gustaría que nos pongamos en contacto contigo?</label>
		<div class="radio">
		  <label><input type="radio" name="contacto" value="Si"checked>Si</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="contacto" value="No">No</label>
		</div>
		<div class="form-group">
			<label>Teléfono: </label>
			<input type="text" name="telefono" class="form-control">
		</div>
		<div class="form-group">
			<label>Horario: </label>
			<input type="text" name="horario" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Enviar peticion">
		</div>          
	</form>
</div>